
.content .container{
    padding: 30px 0;
    margin-top: 50px;
    min-height: 800px;
}
.content .container div:nth-child(2) div:nth-child(1){
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    background-color: #9934E5;
    height: 40px;
    line-height: 40px;
    color: #ffffff ;
}
table{
    width: 100%;
}
table tr td:nth-child(2){
    border: 1px solid #cccccc;
    width: 70%;
    /*font-size: 16px;*/
    padding: 5px 10px;


}
table tr td:first-child{
    background-color: #eeeeee;
    border: 1px solid #cccccc;
    /*font-size: 16px;*/
    padding: 5px 10px;

}
table tr:nth-child(6){
    height: 100px;
}
table tr td img{
    height: 200px;
}
/*tr td:first-child{*/
/*font-weight: 400;*/
/*background-color: #eeeeee;*/
/*}*/